<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title>AngularJS & Firebase Web App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>AngularJS & Firebase App!</h2>
        </div>
        <form class="form-signin" role="form" name="regForm" novalidate>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="register.user.email" required>
                <p ng-show="regForm.email.$dirty && regForm.email.$invalid">Enter a valid email.</p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="register.user.password" required>
                <p ng-show="regForm.password.$dirty && regForm.password.$error.minlength">Min password length is 8 characters.</p>
            </div>
             <a href="#/home"> Sign In</>
            <button type="button" class="btn btn-lg btn-primary btn-block" ng-disabled="regForm.$invalid">Register</button>
        </form>
    </div>
</body>

</html>
